.container.detalle .cuerpo{
	margin-bottom: 5%;
}
/*SEPARADOR------------------------------------*/
select {
	border: solid 1px gray;
	border-radius: 5px;
}
.separador {
	margin: 2% 0;
}
.separador .volver{
	align-items: center;
}
.separador .volver a{
	text-decoration: none;
    color: var(--main-texto-blanco);
    padding-right: 1%;
    border-right: solid 1px var(--main-texto-blanco);
}
.separador .titulo{
	align-items: center;
}
.separador .titulo p{
    color: var(--main-texto-blanco);
    margin: 0;
    padding-left: 1%;
    border-left: solid 1px var(--main-texto-blanco);
}
/* SKILLS ----------------------*/
#deleteSkill {
	position: absolute;
	top: -10px;
	right: -5px;
	background: var(--main-texto-blanco);
	border-radius: 50%;
	font-size: 14px;
	width: 20px;
	height: 20px;
	text-align: center;
	text-decoration: none;
	color: var(--main-bg-color);
}
.datos.skills .areas{
    display: flex;
    flex-wrap: wrap;
}
.datos.skills .areas p {
	width: 100%;
}
.datos.skills .areas .item { 
	width: auto;
	background: var(--main-color-verde);
	height: 35px;
	padding: 1% 2%;
	border-radius: 5px;
	display: flex;
	align-items: center;
    margin: 1%;
    position: relative;
}
.datos.skills .areas .item h2 {
	font-size: 20px;
	text-align: center;
}
/*DETALLE -------------------------------------*/
.form-cont div{
    width: 100%;
}
.form-cont label,
.form-cont label p{
    color: var(--main-bg-color-2);
    margin: 0;
}
.cuerpo .anuncio {
    width: 100%;
}
.form-cont{
    background: white; 
    border-radius: 10px;
    margin-bottom: 2%;
}
.form-cont input,
.form-cont textarea{
    border: solid 1px white;
}
.form-cont .titulo{
    background: linear-gradient(to right, rgba(55,237,0,1) 0%, rgba(0,230,230,1) 100%);
    align-items: center;
    padding: 2% 4%;
    border-radius: 10px;
    margin-bottom: 8px;
}
.form-cont .titulo label{
    width: 10%;
}
.form-cont .titulo input{
    width: 90%;
    border-radius: 5px;
    border: solid 1px white;
}
/**/
.form-cont .descrp{
    justify-content: center;
    padding: 2%;
    border-bottom: solid 1px var(--main-bg-color-3);  
}
.form-cont .descrp textarea{
    background: var(--main-texto-blanco);
    padding: 1%;
    width: 95%;
    border: solid 1px white;
    border-radius: 10px;
    height: 150px; 
}
/**/
.form-cont .skills{
    padding: 2%;
    justify-content: space-around;
    border-bottom: solid 1px var(--main-bg-color-3);
}
.form-cont .skills label{
    width: 45%;
}
.form-cont .skills select {
    width: 35%;
    padding: 0 1%;
}
.form-cont .skills textarea{
    width: 45%;
    border: solid 1px white;
    border-radius: 10px;
    height: 150px;
    background: #f3f3f3;
}
/**/
.form-cont .info{
    align-items: center;
    padding: 2%;
    border-bottom: solid 1px var(--main-bg-color-3); 
}
.form-cont .info label,
.form-cont .info input{
    margin-bottom: 2%;
}
.form-cont .info label:nth-child(even){
    width: 10%;
}
.form-cont .info input:nth-child(even){
    width: 35%;
    border-radius: 5px;
}
.form-cont .info label:nth-child(odd){
    width: 15%;
    padding-left: 1%;
}
.form-cont .info input:nth-child(odd),
#adv_location{
    width: 35%;
}
.form-cont .info label:first-child{
    width: 25%;
    padding: 0;
}
.form-cont .info input:nth-child(2){
    width: 25%;
    border-radius: 5px;
}
.info input {
	background: var(--main-texto-blanco);
}

#adItem {
    padding: 5px 18px;
    background-color: #A8E004;
    border-radius: 20%;
    margin: 5px;
}

#adItem:hover {
    cursor: pointer;
    }

/**/
.form-cont .beneficios{
    padding: 2%;
}
.form-cont .beneficios label{
    width: 100%;
}
.form-cont .beneficios textarea{
    width: 100%;
    border-radius: 5px;
    height: 100px;
    background-color: var(--main-texto-blanco);
}
.anuncio form button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background: white;
    color: var(--main-bg-color);
    border: solid 2px var(--main-color-verde);
}
.is-invalid{
    border:solid 2px var(--main-color-rosa) !important;
}
.is-valid{
    border:solid 2px var(--main-color-verde) !important;
}
/*RELACIONADOS -------------------------------*/
.container.detalle .relacionados{
	flex-direction: column;
}
.container.detalle .relacionados a{
	width: 100%;
	height: 150px;
    padding: 2%;
	color: var(--main-bg-color-2);
}
.container.detalle .relacionados a:hover {
    transform: scale(1.1);
}
.container.detalle .relacionados a:hover {
	transform: scale(1.1);
	z-index: 2;
}
.container.detalle .relacionados .item{
	position: relative;
    width: 100%;
    height: 100%;
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
	background: white;
}
.container.detalle .relacionados .item .img{
	position: absolute;
	display: flex;
	align-items: center;
    top: 4%;
    right: 4%;
    width: 70px;
    height: 70px;
    background: white;
}
.container.detalle .relacionados .item img{
	width: 100%;
}
.container.detalle .relacionados .item .info h3{
	width: 60%;
    font-size: 15px;
}
.container.detalle .relacionados .item .info p{
	font-size: 15px;
}
.container.detalle .relacionados .item .info ul{
	display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}
.container.detalle .relacionados .item li {
    font-size: 15px;
}

/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {
    .separador .titulo {
        display: none !important;
    }
    .container.detalle .relacionados{
        display: none !important;
    }
    .form-cont label{
        width: 100% !important;
        text-align: center !important;
    }
    .form-cont input{
        width: 100% !important;
    }
    .form-cont .descrp,
    .form-cont .skills {
        border-bottom: none;
    }
    .form-cont .skills label{
        width: 100%;
        text-align: center;
    }
    .form-cont .skills label:nth-child(1) {
        order: -1;
    }
    .form-cont .skills label:nth-child(2) {
        order: 1;
    }
    .form-cont .skills select{
        width: 100%;
        border: solid 1px gray;
        border-radius: 5px;
    }
    .form-cont .skills select:nth-child(1) {
        order: 0;
    }
    .form-cont .skills select:nth-child(2) {
        order: 2;
    }


}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {}