<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home Page</title>
		<link rel="stylesheet" href="/css/app.css" />
	</head>
	<body>
		<h1>Home Page</h1>
		<a href="/crearPublicacion">Crear Publicacion</a>
		<a href="/misPostulaciones">Mis Postulaciones</a>
		<a href="/detalleAnuncio">Detalle Anuncio</a>
		<a href="/registroEmpresa">Registro Empresa</a>
		<a href="/registroUsuario">Registro Usuario</a>
	</body>
</html>
