<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="main-footer">
                    <div class="logo">
                        <img src="/images/hackhunt_logo.png" alt="">
                    </div>
                    <div class="item">
                        <h3>Institucional</h3>
                        <a href="">Quienes somos?</a>
                        <a href="">Aviso Legal y Privacidad</a>
                        <a href="">Careers</a>
                    </div>
                    <div class="item">
                        <h3>Candidatos</h3>
                        <a href="">Preguntas frecuentes</a>
                        <a href="">Ofertas laborales</a>
                    </div>
                    <div class="item">
                        <h3>Empresas</h3>
                        <a href="">Preguntas frecuentes</a>
                        <a href="">Beneficios</a>
                        <a href=""></a>
                    </div>
                    <h4>Copyright HackHunter 2020</h4>
                </div>
            </div>
        </div>
    </div>
</div>