<div class="container-fluid header">
        <div class="container header">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 info wrap">
                    <a href="/">
                        <h1 title="Bolsa de trabajo para desarrolladores">
                            < HACK<spam id="huntLogo">HUNT</spam> >
                        </h1>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 secciones wrap">
                    <a href="/empresa/anuncios"><i class="fas fa-briefcase"></i> anuncios</a>
                    <a href="/empresa/notificaciones"><i class="fas fa-bell"></i> notificaciones</a>
                    <a href="/empresa/perfil"><i class="fas fa-user-circle"></i> perfil</a>
                    <a href="/logout"><i class="fas fa-sign-out-alt"></i> salir</a>
                </div>
            </div>
        </div>
    </div>