<div class="container-fluid header">
    <div class="container header">
        <div class="row">
            <div class="col-9 info wrap">
                <a href="/">
                    <h1>
                        < HACK<spam id="huntLogo">HUNT</spam> >
                    </h1>
                </a>
                <h2>SLOGAN LOGAN SLOGAN</h2>
            </div>
            <div class="col-3 botones wrap">
                <a href="/empresa/login" class="boton">Soy Empresa</a>
                <a href="/login" class="boton">Ingresar</a>
            </div>
        </div>
    </div>
</div>