/*HEADER-----------------------------------*/
body{
	background-image: url(/hackhunt/public/images/bg/code.png);
}
.container-fluid.header,
body{
	background: var(--main-bg-color);
}
.container.header .row{
	padding-top: 5px;
}
.container.header .info,
.container.header .botones{
	align-items: center;
}
.container.header .info a{
	width: 25%;
}
.container.header .info a:hover{
	text-decoration: none;
}
.container.header .info h1{
	color: var(--main-logo);
	font-size: 25px;
	font-weight: 200;
}
#huntLogo{
	font-weight: 500;
}
.container.header .info h2{
	width: 75%;
	font-size: 20px;
	color: gray;
	font-weight: 200;
}

.container.header .botones a{
    width: 45%;
    text-align: center;
    border-radius: 2px;
    margin: 0 2.5%;
    text-decoration: none;
    color: var(--main-bg-color);
    font-weight: 200;
}
.container.header .botones .boton:nth-child(1){
    border: solid 1px transparent;
    border-radius: 5px;
    background: #fd5090;
    color: var(--main-bg-color);
}
.container.header .botones .boton:nth-child(2){
    border: solid 1px transparent;
    border-radius: 5px;
    background: #a8e004;
    color: var(--main-bg-color);
}

/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {
    .container-fluid.header {
        padding-bottom: 5%;
    }
    .container.header .info a,
    .container.header .info h2{
        width: 100%;
        text-align: center;
    }
}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {}