<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/main/loginUsuario.css" />
    <script src="/js/validations/userLoginValidation.js"></script>
    <script src="/js/validations/validator.min.js"></script>
</head>

<body>
    <!-- CÓDIGO -->
    <div class="container">
        <div class="row"> 
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 formularios wrap">
                <% if(typeof errors != 'undefined'){ %>
                <div class="item errors">
                    <ul>
                        <% for(let i = 0; i < errors.length; i++){ %>
                        <li><%= errors[i].msg %></li>
                        <% } %>
                    </ul>
                </div>
                <% } %>
                <div class="item login">
                    <h3>Ingresá a tu cuenta</h3>
                    <form action="login" method="POST" class="loginForm">
                        <label for="user_email">
                            <p>Correo</p>
                        </label>
                        <input type="email" name="user_email" id="user_email" placeholder="" data-name="Email">
                        <p class="errorMsgEmail" style="color: white;"></p>
                        <label for="user_passwd">
                            <p>Clave</p>
                        </label>
                        <input type="password" name="user_passwd" id="user_passwd" data-name="Clave">
                        <p class="errorMsgPasswd" style="color: white;"></p>
                        <button type="submit" id="submitForm">POST</button>
                        <p class="errorMsg" style="color: white;"></p>
                    </form>
                </div>
                <div class="item lostpas">
                    <h3>Recuperar tu clave</h3>
                    <form action="recuperar" method="post" class="loginForm">
                        <label for="">Usuario || correo</label>
                        <input type="text" name="user_email" id="" placeholder="" data-name="Email">
                        <p class="errorMsgEmail" style="color: black;"></p>
                        <button type="submit">Recuperar</button>
                        <p class="errorMsg" style="color: black;"></p>
                    </form>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 redes wrap">
                <a id="facebook" href="">Facebook</a>
                <a id="github" href="">Git Hub</a>
                <a id="google" href="">Google</a>
            </div>
            <div class="col-12 registro">
                <a href="/registro">No estás registrado? Crear cuenta</a>
            </div>
        </div>
    </div>
</body>

</html>