<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('../partials/head'); -%>
		<link rel="stylesheet" href="/css/main/loginEmpresa.css" />
	</head>
	<body>
		<!-- CÓDIGO -->
		<% if(locals.error!=''){ %>
			<div><p><%=locals.error %></p> </div> 
		<%}  %>
		<div class="container">
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 formularios wrap">
					<% if(typeof errors != 'undefined'){ %>
						<div class="item errors">
							<ul>
								<% for(let i = 0; i < errors.length; i++){ %>
								<li><%= errors[i].msg %></li>
								<% } %>
							</ul>
						</div>
						<% } %>
					<div class="item login">
						<h3>Ingresá a tu cuenta</h3>
						<form action="/empresa/login" method="post">
							<label for="cmp_user_email"><p>Email</p></label>
							<input type="email" name="cmp_user_email" id="cmp_user_email" placeholder="" />
							<label for="cmp_user_passwd"><p>Clave</p></label>
							<input type="password" name="cmp_user_passwd" id="cmp_user_passwd" />
							<button type="submit">POST</button>
						</form>
					</div>
					<div class="item lostpas">
						<h3>Recuperar tu clave</h3>
						<form action="/empresa/recuperar" method="post">
							<label for="">Usuario || correo</label>
							<input type="text" name="" id="" placeholder="" />
							<button type="submit">Recuperar</button>
						</form>
					</div>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 redes wrap">
					<!-- <a id="facebook" href="">Facebook</a>
					<a id="github" href="">Git Hub</a>
					<a id="google" href="">Google</a> -->
				</div>
				<div class="col-12 registro">
					<a href="/empresa/registro">No estás registrado? Crear cuenta</a>
				</div>
			</div>
		</div>
	</body>
</html>
