<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('../partials/head'); -%>
		<link rel="stylesheet" href="/css/main/registroEmpresa.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-12 registro wrap">
					<div class="formulario wrap">
						<form action="" method="post">
							<h3 class="separador-categoria">Información del usuario de registro</h3>
							<label for=""><p>Nombre</p></label>
							<input type="text" name="" id="" />
							<label for=""><p>Apellido</p></label>
							<input type="text" name="" id="" />
							<label for=""><p>Email</p></label>
							<input type="email" name="" id="" />
							<label for=""><p>Clave</p></label>
							<input type="password" name="" id="" />
							<h3 class="separador-categoria">Datos de empresa</h3>
							<label for=""><p>Razon Social</p></label>
							<input type="text" name="" id="" />
							<label for=""><p>Cuit</p></label>
							<input type="number" name="" id="" />
							<label for=""><p>Teléfono</p></label>
							<input type="number" name="" id="" />
							<label for=""><p>Tipo Industria</p></label>
							<input type="text" name="" id="" />
							<label for=""><p>Cantidad de Empleados</p></label>
							<input type="number" name="" id="" />
							<button type="submit">Comenzar</button>
							<button type="reset">Limpiar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
