<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/main/registroUsuario.css" />
</head>
<body>
<!-- CÓDIGO -->
<div class="container">
        <div class="row">
            <div class="col-12 registro wrap">
                <% if(typeof errors != 'undefined'){ %>
                    <div class="item errors">
                        <ul>
                            <% for(let i = 0; i < errors.length; i++){ %>
                            <li><%= errors[i].msg %></li>
                            <% } %>
                        </ul>
                    </div> 
                    <% } %>
                <div class="formulario wrap">
                    <form action="/registro" method="post" enctype="multipart/form-data">
                    <label for="user_name"><p>Nombre</p></label>
                    <input type="text" name="user_name" id="user_name">
                    <label for="user_lastname"><p>Apellido</p></label>
                    <input type="text" name="user_lastname" id="user_lastname">
                    <label for="user_email"><p>Email</p></label>
                    <input type="email" name="user_email" id="user_email">
                    <label for="user_passwd"><p>Clave</p></label>
                    <input type="password" name="user_passwd" id="user_passwd">
                    <input type="text" name="type" id="type" value="cliente" style="display: none;">
                    <label for="user_avatar"><p>Subir Avatar</p></label>
                    <input type="file" name="user_avatar" id="user_avatar" required>
                    <button type="submit">Comenzar</button>
                    <button type="reset">Limpiar</button>
                </form>
                </div>
            </div>
        </div>
    </div>
<!-- CÓDIGO -->
</body>

</html>