<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('../partials/head'); -%>
		<link rel="stylesheet" href="/css/main/registroEmpresa.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-12 registro wrap">
					<div class="formulario wrap">
						<form action="/empresa/registro" method="post" enctype="multipart/form-data">
							<h3 class="separador-categoria">Información de contacto del representante</h3>
							<label for="cmp_user_name"><p>Nombre</p></label>
							<input type="text" name="cmp_user_name" id="cmp_user_name" />
							<label for="cmp_user_lastname"><p>Apellido</p></label>
							<input type="text" name="cmp_user_lastname" id="cmp_user_lastname" />
							<label for="cmp_user_email"><p>Email</p></label>
							<input type="email" name="cmp_user_email" id="cmp_user_email" />
							<label for="cmp_user_passwd"><p>Clave</p></label>
							<input type="password" name="cmp_user_passwd" id="cmp_user_passwd" />
							<h3 class="separador-categoria">Datos de empresa</h3>
							<label for="cmp_name"><p>Razon Social</p></label>
							<input type="text" name="cmp_name" id="cmp_name" />
							<label for="cmp_cuit"><p>Cuit</p></label>
							<input type="text" name="cmp_cuit" id="cmp_cuit" />
							<label for="cmp_tel"><p>Teléfono</p></label>
							<input type="number" name="cmp_tel" id="cmp_tel" />
							<label for="cmp_sector"><p>Rubro</p></label>
							<input type="text" name="cmp_sector" id="cmp_sector" />
							<label for="cmp_avatar"><p>Subir Avatar</p></label>
							<input type="file" name="cmp_avatar" id="cmp_avatar">
							<input type="text" name="type" value="company" style="display: none;">
							<button type="submit">Comenzar</button>
							<button type="reset">Limpiar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
