<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/main/registroUsuario.css" />
</head>
<body>
<!-- CÓDIGO -->
<div class="container">
        <div class="row">
            <div class="col-12 registro wrap">
                <div class="formulario wrap">
                    <form action="/registro" method="post">
                    <label for="nombre"><p>Nombre</p></label>
                    <input type="text" name="nombre" id="nombre" required>
                    <label for="apellido"><p>Apellido</p></label>
                    <input type="text" name="apellido" id="apellido" required>
                    <label for="email"><p>Email</p></label>
                    <input type="email" name="email" id="email" required>
                    <label for="clave"><p>Clave</p></label>
                    <input type="password" name="clave" id="clave" required>
                    <p>o registrate usando</p>
                    <a id="facebook" href="">Facebook</a>
                    <a id="github" href="">Git Hub</a>
                    <a id="google" href="">Google</a>
                    <button type="submit">Comenzar</button>
                    <button type="reset">Limpiar</button>
                </form>
                </div>
            </div>
        </div>
    </div>
<!-- CÓDIGO -->
</body>

</html>