<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/main/registroUsuario.css" />
    <script src="/js/validations/userRegisterValidation.js"></script>
    <script src="/js/validations/validator.min.js"></script>
</head>
<body>
<!-- CÓDIGO -->
<div class="container">
        <div class="row">
            <div class="col-12 registro wrap">
                <% if(typeof errors != 'undefined'){ %>
                    <div class="item errors">
                        <ul>
                            <% for(let i = 0; i < errors.length; i++){ %>
                            <li><%= errors[i].msg %></li>
                            <% } %>
                        </ul>
                    </div> 
                    <% } %>
                <div class="formulario wrap">
                    <form action="/registro" method="post" enctype="multipart/form-data" id="registerForm">
                    <label for="user_name"><p>Nombre</p></label>
                    <input type="text" name="user_name" id="user_name" data-name="Nombre">
                    <p style="color: white;"></p>
                    <label for="user_lastname"><p>Apellido</p></label>
                    <input type="text" name="user_lastname" id="user_lastname" data-name="Apellido">
                    <p style="color: white;"></p>
                    <label for="user_email"><p>Email</p></label>
                    <input type="email" name="user_email" id="user_email" data-name="Email">
                    <p style="color: white;"></p>
                    <label for="user_passwd"><p>Clave</p></label>
                    <input type="password" name="user_passwd" id="user_passwd" data-name="Clave">
                    <p style="color: white;"></p>
                    <label for="user_avatar"><p>Subir Avatar</p></label>
                    <input type="file" name="user_avatar" id="user_avatar" data-name="Avatar">
                    <p style="color: white;"></p>
                    <button type="submit">Comenzar</button>
                    <button type="reset">Limpiar</button>
                    <p id="errorMsg" style="color: white;"></p>
                </form>
                </div>
            </div>
        </div>
    </div>
<!-- CÓDIGO -->
</body>

</html>