<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('../partials/head'); -%>
		<link rel="stylesheet" href="/css/main/registroEmpresa.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-12 registro wrap">
					<div class="formulario wrap">
						<form action="/empresa/registro" method="post" enctype="multipart/form-data">
							<h3 class="separador-categoria">Información del usuario de registro</h3>
							<label for="nombre"><p>Nombre</p></label>
							<input type="text" name="nombre" id="nombre" />
							<label for="apellido"><p>Apellido</p></label>
							<input type="text" name="apellido" id="apellido" />
							<label for="email"><p>Email</p></label>
							<input type="email" name="email" id="email" />
							<label for="clave"><p>Clave</p></label>
							<input type="password" name="clave" id="clave" />
							<h3 class="separador-categoria">Datos de empresa</h3>
							<label for="razon"><p>Razon Social</p></label>
							<input type="text" name="razon" id="razon" />
							<label for="cuit"><p>Cuit</p></label>
							<input type="text" name="cuit" id="cuit" />
							<label for="telefono"><p>Teléfono</p></label>
							<input type="number" name="telefono" id="telefono" />
							<label for="rubro"><p>Rubro</p></label>
							<input type="text" name="rubro" id="rubro" />
							<label for="company_avatar"><p>Subir Avatar</p></label>
							<input type="file" name="company_avatar" id="company_avatar">
							<input type="text" name="tipo" value="empresa" style="display: none;">
							<button type="submit">Comenzar</button>
							<button type="reset">Limpiar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
