<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/cliente/favoritos.css" />
</head>
<body>
    <header>
        <%- include('../partials/headerLog'); -%>
    </header>  
    <div class="container fav">
        <div class="row">
                <div class="col-12 barra-menu wrap">
                    <a href="/perfil/informacion">Editar mi CV</a>
                    <a href="/perfil/postulaciones">Mis postulaciones</a>
                    <a href="/perfil/favoritos" id="select">Favoritos</a>
                    <a href="/perfil/alertas">Alertas</a>
                    <a href="/perfil/configuracion">Configuración</a>
                </div>
            <div class="col-12 barra">
                <h2>Ofertas favoritas</h2>
            </div>
            <div class="col-3 panel">
                <div class="seguidas">
                    <h3>Empresas más guardadas</h3>
                    <a href="?empresa=mercado-libre">
                        <div class="item">
                            <div class="avatar">
                                <img src="https://elcomodorense.net/wp-content/uploads/2019/05/mercadolibre.jpg" alt="">
                            </div>
                            <h2>Mercado Libre</h2>
                        </div>
                    </a>
                    <a href="?empresa=digital-house">
                        <div class="item">
                            <div class="avatar">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <h2>Digital House</h2>
                        </div>
                    </a>
                    <a href="?empresa=despegar">
                        <div class="item">
                            <div class="avatar">
                                <img src="https://media.licdn.com/dms/image/C4D0BAQEYuLi6DP5oGw/company-logo_200_200/0?e=2159024400&v=beta&t=kY_VVaPthh-JEfhHkYRGoGYZGjwTMUUOgFz-sb5DHiI" alt="">
                            </div>
                            <h2>Despegar</h2>
                        </div>
                    </a>
                    <a href="?empresa=trivago">
                        <div class="item">
                            <div class="avatar">
                                <img src="https://imgcy.trivago.com/f_auto,q_auto/hardcodedimages/logo_fb.png" alt="">
                            </div>
                            <h2>Trivago</h2>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-9 anuncios">
                <a href="/detalle">
                    <div class="item">
                        <div class="img">
                            <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                        </div>
                        <div class="info">
                            <h2>Desarrollador Web - Full Stack</h2>
                            <ul>
                                <li>Digital House</li>
                                <li>Capital Federal</li>
                                <li>Full Time</li>
                            </ul>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                                necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                                cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                                est sint!</p>
                            <p class="sal">$45K - 60K</p>
                            <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
                        </div>
                    </div>
                </a>
                <a href="/detalle">
                    <div class="item">
                        <div class="img">
                            <img src="https://imgcy.trivago.com/f_auto,q_auto/hardcodedimages/logo_fb.png" alt="">
                        </div>
                        <div class="info">
                            <h2>Desarrollador Web - Full Stack</h2>
                            <ul>
                                <li>Digital House</li>
                                <li>Capital Federal</li>
                                <li>Full Time</li>
                            </ul>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                                necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                                cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                                est sint!</p>
                            <p class="sal">$45K - 60K</p>
                            <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
                        </div>
                    </div>
                </a>
                <a href="/detalle">
                    <div class="item">
                        <div class="img">
                            <img src="https://media.licdn.com/dms/image/C4D0BAQEYuLi6DP5oGw/company-logo_200_200/0?e=2159024400&v=beta&t=kY_VVaPthh-JEfhHkYRGoGYZGjwTMUUOgFz-sb5DHiI" alt="">
                        </div>
                        <div class="info">
                            <h2>Desarrollador Web - Full Stack</h2>
                            <ul>
                                <li>Digital House</li>
                                <li>Capital Federal</li>
                                <li>Full Time</li>
                            </ul>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                                necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                                cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                                est sint!</p>
                            <p class="sal">$45K - 60K</p>
                            <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
                        </div>
                    </div>
                </a>
                <a href="/detalle">
                    <div class="item">
                        <div class="img">
                            <img src="https://pbs.twimg.com/profile_images/879408429751824384/1I5KApVU_400x400.jpg" alt="">
                        </div>
                        <div class="info">
                            <h2>Desarrollador Web - Full Stack</h2>
                            <ul>
                                <li>Digital House</li>
                                <li>Capital Federal</li>
                                <li>Full Time</li>
                            </ul>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                                necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                                cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                                est sint!</p>
                            <p class="sal">$45K - 60K</p>
                            <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
                        </div>
                    </div>
                </a>
                <a href="/detalle">
                    <div class="item">
                        <div class="img">
                            <img src="http://mouse.latercera.com/wp-content/uploads/2017/08/facebook-900x600.jpg" alt="">
                        </div>
                        <div class="info">
                            <h2>Desarrollador Web - Full Stack</h2>
                            <ul>
                                <li>Digital House</li>
                                <li>Capital Federal</li>
                                <li>Full Time</li>
                            </ul>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                                necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                                cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                                est sint!</p>
                            <p class="sal">$45K - 60K</p>
                            <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
                        </div>
                    </div>
                </a>
                <a href="/detalle">
                    <div class="item">
                        <div class="img">
                            <img src="https://farmacityar.vteximg.com.br/arquivos/farmalogoinstit.png?v=636706429804500000" alt="">
                        </div>
                        <div class="info">
                            <h2>Desarrollador Web - Full Stack</h2>
                            <ul>
                                <li>Digital House</li>
                                <li>Capital Federal</li>
                                <li>Full Time</li>
                            </ul>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                                necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                                cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                                est sint!</p>
                            <p class="sal">$45K - 60K</p>
                            <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
                        </div>
                    </div>
                </a>
                <a href="/detalle">
                    <div class="item">
                        <div class="img">
                            <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                        </div>
                        <div class="info">
                            <h2>Desarrollador Web - Full Stack</h2>
                            <ul>
                                <li>Digital House</li>
                                <li>Capital Federal</li>
                                <li>Full Time</li>
                            </ul>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                                necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                                cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                                est sint!</p>
                            <p class="sal">$45K - 60K</p>
                            <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
                        </div>
                    </div>
                </a>
                <a href="/detalle">
                    <div class="item">
                        <div class="img">
                            <img src="http://www.altrum.com.ar/wp-content/uploads/2016/08/galicia.jpg" alt="">
                        </div>
                        <div class="info">
                            <h2>Desarrollador Web - Full Stack</h2>
                            <ul>
                                <li>Digital House</li>
                                <li>Capital Federal</li>
                                <li>Full Time</li>
                            </ul>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                                necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                                cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                                est sint!</p>
                            <p class="sal">$45K - 60K</p>
                            <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>