<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/cliente/info.css" />
    <link rel="stylesheet" href="/css/headerLog.css" />
</head>
<!-- CÓDIGO -->
<body>
    <header>
        <%- include('../partials/headerLog'); -%>
    </header>    
<div class="container cv">
    <div class="row">
            <div class="col-12 barra-menu wrap">
                <a href="informacion" id="select">Editar mi CV</a>
                <a href="postulaciones">Mis postulaciones</a>
                <a href="favoritos">Favoritos</a>
                <a href="alertas">Alertas</a>
                <a href="configuracion">Configuración</a>
            </div>
        <div class="col-9 datos personales wrap">
            <h3>Datos personales</h3>
            <p id="DatosPersonales"></p>
            <div class="formulario">
                <form action="?_method=PUT" method="post" class="wrap">
                    <label for="user_name"><p>Nombre</p></label>
                    <input type="text" name="user_name" id="user_name">
                    <label for="user_lastname"><p>Apellidos</p></label>
                    <input type="text" name="user_lastname" id="user_lastname">
                    <label for="user_dni"><p>DNI</p></label>
                    <input type="number" name="user_dni" id="user_dni">
                    <label for=" user_datebirth"><p>Fecha de nacimiento</p></label>
                    <input type="date" name=" user_datebirth" id=" user_datebirth">
                    <div class="genero">
                        <label for="user_gender"><p>Genero</p></label>
                        <label for="radioH">Hombre</label>
                        <input type="radio" name="user_gender" id="user_gender" value="H">
                        <label for="radioM">Mujer</label>
                        <input type="radio" name="user_gender" id="user_gender" value="M">
                    </div>
                    <label for="user_phone"><p>Teléfono</p></label>
                    <input type="number" name="user_phone" id="user_phone">
                    <label for="user_city"><p>Ciudad</p></label>
                    <select name="user_city" id="user_city">
                        <option value="CABA">Capital Federal</option>
                        <option value="GBA">Buenos Aires</option>
                        <option value="CO">Córdoba</option>
                        <option value="MDZ">Mendoza</option>
                        <option value="RO">Rosario</option>
                    </select>
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>
        <div class="col-3 panel">
            <div class="indice">
                <h3>índice</h3>
                <a href="#DatosPersonales">Datos Personales</a>
                <a href="#DatosProfesionales">Datos Profesionales</a>
                <a href="#ExperienciaLaboral">Experiencia Laboral</a>
                <a href="#Formacion">Formación</a>
                <a href="#Idiomas">Idiomas</a>
                <a href="#Skills">Skills</a>
                <a href="#PreferenciaLaboral">Preferencia laboral</a>
            </div>
        </div>
        <div class="col-9 datos profesionales wrap">
            <h3>Datos Profesionales</h3>
            <p id="DatosProfesionales"></p>
            <div class="formulario">
                <form action="?_method=PUT" method="post" class="wrap">
                    <label for="user_position"><p>Cargo / Profesión o título breve</p></label>
                    <input type="text" name="user_position" id="user_position">
                    <label for="user_position_level"><p>Nivel</p></label>
                    <input type="text" name="user_position_level" id="user_position_level" placeholder="Jr / Ssr / Sr">
                    <label for="user_position_description"><p>Descripción breve de tu perfil profesional</p></label>
                    <textarea name="user_position_description" id="user_position_description" cols="30" rows="10" maxlength="500"></textarea>
                    <p>Max 500</p>
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>
        <div class="col-9 datos experiencias wrap">
            <h3>Experiencia laboral</h3>
            <p id="ExperienciaLaboral"></p>
            <div class="formulario">
                <form action="?_method=PUT" method="post" class="wrap">
                    <label for="user_cmp_experience"><p>Empresa</p></label>
                    <input type="text" name="user_cmp_experience" id="user_cmp_experience">
                    <label for="user_cmp_position"><p>Cargo</p></label>
                    <input type="text" name="user_cmp_position" id="user_cmp_position">
                    <label for="user_cmp_experience_since"><p>Desde</p></label>
                    <input type="date" name="user_cmp_experience_since" id="user_cmp_experience_since">
                    <label for="user_cmp_experience_to"><p>Hasta</p></label>
                    <input type="date" name="user_cmp_experience_to" id="user_cmp_experience_to">
                    <label for="user_cmp_experience_description"><p>Descripción</p></label>
                    <textarea name="user_cmp_experience_description" id="user_cmp_experience_description" cols="30" rows="10"></textarea>
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>
        <div class="col-9 datos formacion wrap">
            <h3>Formación</h3>
            <p id="Formacion"></p>
            <div class="formulario">
                <form action="?_method=PUT" method="post" class="wrap">
                    <label for="user_career"><p>Nivel</p></label>
                    <select name="user_career" id="user_career">
                        <option value="">Seleccione</option>
                        <option value="curso">Curso</option>
                        <option value="master">Master</option>
                        <option value="postgrado">Post-grado</option>
                        <option value="universitario">Universitario</option>
                        <option value="tecnico">Técnico</option>
                        <option value="secundario">Secundario</option>
                    </select>
                    <label for="user_institution"><p>Institución</p></label>
                    <input type="text" name="user_institution" id="user_institution">
                    <label for="user_career_title"><p>Título</p></label>
                    <input type="text" name="user_career_title" id="user_career_title">
                    <label for="user_career_since"><p>Desde</p></label>
                    <input type="date" name="user_career_since" id="user_career_since">
                    <label for="user_career_to"><p>Hasta</p></label>
                    <input type="date" name="user_career_to" id="user_career_to">
                    <label for="user_career_description"><p>Descripción</p></label>
                    <textarea name="user_career_description" id="user_career_description" cols="30" rows="10"></textarea>
                    <div class="repositorios wrap">
                        <label for="user_git"><p>Repositorio Git</p></label>
                        <input type="text" name="user_git" id="user_git">
                        <label for="user_website"><p>Website</p></label>
                        <input type="text" name="user_website" id="user_website">
                        <label for="user_stack"><p>StackOverflow</p></label>
                        <input type="text" name="user_stack" id="user_stack">
                    </div>
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>
        <div class="col-9 datos idiomas wrap">
            <h3>Idiomas</h3>
            <p id="Idiomas"></p>
            <div class="formulario">
                <form action="?_method=PUT" method="post" class="wrap">
                    <label for="user_lang"><p>Idioma</p></label>
                    <input type="text" name="user_lang" id="user_lang">
                    <label for="user_lang_level"><p>Nivel</p></label>
                    <select name="user_lang_level" id="user_lang_level">
                        <option value="">Seleccione</option>
                        <option value="BAS">Básico</option>
                        <option value="INT">Intermedio</option>
                        <option value="AVA">Avanzado</option>
                        <option value="NAT">Nativo</option>
                    </select>
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>
        <div class="col-9 skills wrap">
            <p id="Skills"></p>
        </div>
        <div class="col-9 datos preferencias wrap">
            <h3>Preferencia laboral</h3>
            <p id="PreferenciaLaboral"></p>
            <form action="?_method=PUT" method="post" class="wrap">
                <label for="user_work_sit"><p>Situación Actual</p></label>
                <select name="user_work_sit" id="user_work_sit">
                    <option value="">Seleccione</option>
                    <option value="unemployed">No tengo empleo</option>
                    <option value="employed">Tengo empleo</option>
                </select>
                <label for="user_work_wish"><p>Puesto deseado</p></label>
                <input type="text" name="user_work_wish" id="user_work_wish" placeholder="Desarrollador Front-End">
                <button type="submit" id="adItem">+</button>
                <div class="puestos">
                    <p>Puestos seleccionados</p>
                </div>
                <label for="user_wish_area"><p>Área</p></label>
                <input type="text" name="user_wish_area" id="user_wish_area" placeholder="Desarrollo Web">
                <button type="submit" id="adItem">+</button>
                <div class="areas">
                    <p>Áreas seleccionadas</p>
                </div>
                <label for="user_salary"><p>Remuneración Pretendida</p></label>
                <input type="text" name="user_salary" id="user_salary" placeholder="*Opcional">
                <label for="user_work_location"><p>Ubicación/es</p></label>
                <select name="user_work_location" id="user_work_location">
                    <option value="CAP">Capital Federal</option>
                    <option value="GBA">Buenos Aires</option>
                </select>
                <button type="submit" id="adItem">+</button>
                <div class="ubicaciones">
                    <p>Ubicaciones seleccionadas</p>
                </div>
                <button type="submit">Guardar</button>
            </form>
        </div>
    </div>
</div>
<!-- CÓDIGO -->
</body>
</html>