<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/cliente/postulaciones.css" />
</head>
<body>
    <header>
        <%- include('../partials/headerLog'); -%>
    </header>  
    <div class="container post">
        <div class="row">
            <div class="col-12 barra-menu wrap">
                <a href="/perfil/informacion">Editar mi CV</a>
                <a href="/perfil/postulaciones" id="select">Mis postulaciones</a>
                <a href="/perfil/favoritos">Favoritos</a>
                <a href="/perfil/alertas">Alertas</a>
                <a href="/perfil/configuracion">Configuración</a>
            </div>
            <div class="col-12 barra">
                    <h2> <span id="var">var</span> <span id="nom">PaginaActual</span> <span id="ig">=</span> Mi cuenta;<span id="efc">&#160;</span></h2>
            </div>
            <div class="col-12 stats">
                <div class="detalle">
                    <div class="item">
                        <p><span>5</span> CV No leídos</p>
                    </div>
                    <div class="item">
                        <p><span>3</span> CV Leídos</p>
                    </div>
                    <div class="item">
                        <p><span>8</span> CV Total</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 panel">
                <div class="filtro">
                    <!-- consultar si conviene utilizar listas o inputs para filtros -->
                    <h3>Mostrar</h3>
                    <ul>
                        <li><input type="radio" name="filtrar" id="">Todas</li>
                        <li><input type="radio" name="filtrar" id="">CV No leído</li>
                        <li><input type="radio" name="filtrar" id="">CV Leído</li>
                        <li><input type="radio" name="filtrar" id="">Finalizadas</li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 anuncios">
                <a href="/detalle">
                    <div class="item">
                        <div class="img">
                            <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                        </div>
                        <div class="info">
                            <h2>Desarrollador Web - Full Stack</h2>
                            <ul>
                                <li>Digital House</li>
                                <li>Capital Federal</li>
                                <li>Full Time</li>
                            </ul>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                                necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                                cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                                est sint!</p>
                            <p class="sal">$45K - 60K</p>
                            <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
                        </div>
                    </div>
                </a>
                <a href="/detalle">
                    <div class="item">
                        <div class="img">
                            <img src="https://imgcy.trivago.com/f_auto,q_auto/hardcodedimages/logo_fb.png" alt="">
                        </div>
                        <div class="info">
                            <h2>Desarrollador Web - Full Stack</h2>
                            <ul>
                                <li>Digital House</li>
                                <li>Capital Federal</li>
                                <li>Full Time</li>
                            </ul>
                            <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                                necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                                cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                                est sint!</p>
                            <p class="sal">$45K - 60K</p>
                            <p class="skills"><i class="fas fa-magic" title="Skills que cumples"></i> 5/8</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>