<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
    <!--Luego hay que hacer una validación de sesión iniciada para mostrar un header u otro-->
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/empresa/crearPublicacion.css" />
</head>
<!-- CÓDIGO -->
<body>
    <header>
	    <%- include('../partials/headerEmp'); -%>
    </header>
    <div class="container-fluid cuerpo">
        <div class="container detalle">
            <div class="row separador">
                <div class="col-9 volver wrap">
                    <a href="/empresa/perfil">../Volver</a>
                </div>
                <div class="col-3 titulo wrap">
                    <p>Mis publicaciones</p>
                </div>
            </div>
            <div class="row cuerpo">
                <div class="col-9 wrap">
					<div class="anuncio wrap">
						<form action="" method="post">
							<div class="form-cont wrap">
								<div class="titulo wrap">
									<label for="titulo"><p>Título</p></label>
									<input type="text" name="titulo" id="titulo">
								</div>
								<div class="descrp wrap">
									<textarea name="descrp" id="descrp" cols="30" rows="10" placeholder="Descripción"></textarea>
								</div>
								<div class="skills wrap">
									<label for="skillsex"><p>Skills Excluyentes</p></label>
									<label for="skillsdes"><p>Skills Deseables</p></label>
									<textarea name="skillsex" id="skillsex" cols="30" rows="10"></textarea>
									<textarea name="skillsdes" id="skillsdes" cols="30" rows="10"></textarea>
								</div>
								<div class="info wrap">
									<label for="fecha"><p>Fecha de contratación</p></label>
									<input type="date" name="fecha" id="fecha">
									<label for="area"><p>Área</p></label>
									<input type="text" name="area" id="area">
									<label for="ubicacion"><p>Ubicación</p></label>
									<input type="text" name="ubicacion" id="ubicacion">
									<label for="cargo"><p>Cargo</p></label>
									<input type="text" name="cargo" id="cargo">
									<label for="jornada"><p>Jornada</p></label>
									<input type="text" name="jornada" id="jornada">
									<label for="salario"><p>Salario</p></label>
									<input type="text" name="salario" id="salario">
								</div>
								<div class="beneficios">
									<label for="beneficios"><p>Beneficios (opcional)</p></label>
									<textarea name="beneficios" id="beneficios" cols="30" rows="10"></textarea>
								</div>
							</div>
							<button type="submit">Publicar</button>
							<button type="reset">Limpiar</button>
						</form>
					</div>
                </div>
                <div class="col-3 relacionados wrap">
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                    <a href="/detalle">
                        <div class="item">
                            <div class="img">
                                <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                            </div>
                            <div class="info">
                                <h3>Desarrollador Web - Full Stack</h3>
                                <p>Digital House</p>
                                <ul>
                                    <li><i class="fas fa-map-marker-alt"></i> Capital Federal</li>
                                    <li><i class="fas fa-briefcase"></i> Full Time</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
       </div>
    </div>
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
<!-- CÓDIGO -->
</body>
</html>