<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head'); -%>
		<link rel="stylesheet" href="/css/empresa/crearPublicacion.css" />
	</head>
	<!-- CÓDIGO -->
	<body>
		<div class="container">
			<div class="row">
				<div class="col-12 registro wrap">
					<div class="formulario wrap">
						<form action="" method="post">
							<h3 class="separador-categoria">Creando nueva publicación</h3>
							<label for=""><p>Lugar de Trabajo</p></label>
							<input type="text" name="" id="" />
							<label for=""><p>Salario</p></label>
							<input type="text" name="" id="" />
							<label for=""><p>Jornada</p></label>
							<input type="text" name="" id="" />
							<label for=""><p>Área</p></label>
							<input type="text" name="" id="" />
							<label for=""><p>Skills Excluyentes</p></label>
							<input type="text" name="" id="" />
							<label for=""><p>Skills Deseables</p></label>
							<input type="text" name="" id="" />
							<label for=""><p>Descripción</p></label>
							<textarea rows="10" class="publication-textarea" type="text" name="" id=""></textarea>
							<button type="submit">Publicar</button>
							<button type="reset">Limpiar</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
