<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/empresa/cv.css" />
</head>
<body>
    <header>
        <%- include('../partials/headerEmp'); -%>
    </header>
    <div class="container post">
        <div class="row">
            <div class="col-12 barra">
                <h2>Detalle de candidato</h2>
            </div>
            <div class="col-9 personales wrap">
                <p id="DatosPersonales"></p>
                <h3 id="titular">Datos personales</h3>
                <div class="perfil">
                    <div class="avatar">
                        <img src="/images/user_avatar.jpg" alt="">
                    </div>
                    <p>Desarrollador Web</p>
                    <p>Junior</p>
                    <ul>
                        <li><i class="fab fa-git-alt" title="Repositorio Git"></i> /Alejandrodk</li>
                        <li><i class="fab fa-stack-overflow" title="StackOverflow"></i> Alejandrodk</li>
                        <li><i class="fas fa-user" title="Website"></i> www.alejandrodk.com</li>
                    </ul>
                </div>
                <div class="info-cv wrap">
                    <h4>Nombre</h4>
                    <h5>Otto Alejandro</h5>
                    <h4>Apellidos</h4>
                    <h5>Barrios Padilla</h5>
                    <h4>DNI</h4>
                    <h5>95.677.818</h5>
                    <h4>Nacionalidad</h4>
                    <h5>Venezolano</h5>
                    <h4>Edad</h4>
                    <h5>25</h5>
                    <h4>Genero</h4>
                    <h5>Masculino</h5>
                    <h4>Estado Civil</h4>
                    <h5>Soltero</h5>
                    <h4>Pais</h4>
                    <h5>Argentina</h5>
                    <h4>Ciudad</h4>
                    <h5>Capital Federal</h5>
                    <h4>Telefono</h4>
                    <h5>+54 9 11 2750 8104</h5>
                </div>
            </div>
            <div class="col-3 indice">
                <h3>índice</h3>
                <a href="#DatosPersonales">Datos Personales</a>
                <a href="#DatosProfesionales">Datos Profesionales</a>
                <a href="#ExperienciaLaboral">Experiencia Laboral</a>
                <a href="#Formacion">Formación</a>
                <a href="#Idiomas">Idiomas</a>
                <a href="#Skills">Skills</a>
            </div>
            <div class="col-12 profesionales">
                <p id="DatosProfesionales"></p>
                <h3 id="titular">Datos Profesionales</h3>
                <div class="info-cv datos-prof">
                    <h4>Cargo / Profesion o titulo breve</h4>
                    <h5>Desarrollador Web</h5>
                    <h4>Nivel</h4>
                    <h5>Junior</h5>
                    <h4>Descripcion</h4>
                    <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis quo ducimus architecto laudantium error quam expedita beatae. Incidunt, pariatur perspiciatis.</h5>
                </div>
            </div>
            <div class="col-12 experiencia">
                <p id="ExperienciaLaboral"></p>
                <h3 id="titular">Experiencia Laboral</h3>
                <div class="info-cv exp">
                    <h4>Empresa</h4>
                    <h5>Altamira Group</h5>
                    <h4>Cargo</h4>
                    <h5>Disenador Grafico</h5>
                    <h4>Desde</h4>
                    <h5>01/03/2017</h5>
                    <h4>Hasta</h4>
                    <h5>01/03/2020</h5>
                    <h4>Descripcion</h4>
                    <h5>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod tempore dolore corporis repudiandae natus quo quos accusantium debitis ipsam deleniti explicabo deserunt, corrupti id libero, quia reprehenderit mollitia totam vel.</h5>
                </div>
            </div>
            <div class="col-12 formacion">
                <p id="Formacion"></p>
                <h3 id="titular">Formacion</h3>
                <div class="info-cv form">
                    <h4>Nivel</h4>
                    <h5>Diplomado</h5>
                    <h4>Institucion</h4>
                    <h5>Digital House Argentina</h5>
                    <h4>Titulo</h4>
                    <h5>Desarrollador Web Full Stack</h5>
                    <h4>Desde</h4>
                    <h5>6/10/2019</h5>
                    <h4>Hasta</h4>
                    <h5>01/03/2020</h5>
                    <h4>Descripcion</h4>
                    <h5>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores repellat vero dicta libero atque alias corporis saepe beatae. Harum, explicabo!</h5>
                    <h4>Repositorio Git</h4>
                    <h5><a href="www.github.com/alejandrodk">alejandrodk</a></h5>
                    <h4>Website</h4>
                    <h5><a href="www.Alejandrodk.com">Alejandrodk</a></h5>
                    <h4>StackOverflow</h4>
                    <h5><a href="www.stackoverflow.com/Alejandrodk"></a>Alejandrodk</h5>
                </div>
            </div>
            <div class="col-12 idiomas">
                <p id="Idiomas"></p>
                <h3 id="titular">Idiomas</h3>
                <div class="info-cv lang">
                    <h4>Idioma</h4>
                    <h5>Ingles</h5>
                    <h4>Nivel</h4>
                    <h5>Medio</h5>
                </div>
                <div class="info-cv lang">
                    <h4>Idioma</h4>
                    <h5>Frances</h5>
                    <h4>Nivel</h4>
                    <h5>Basico</h5>
                </div>
            </div>
            <div class="col-12 skills">
                <p id="Skills"></p>
                <h3 id="titular">Skills</h3>
                <div class="info-cv skills">
                    <h4>Habilidades</h4>
                </div>
            </div>
        </div>
    </div>
</body>

</html>