<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/cliente/info.css" />
    <link rel="stylesheet" href="/css/headerLog.css" />
</head>
<!-- CÓDIGO -->
<body>
    <header>
        <%- include('../partials/headerEmp'); -%>
    </header>    
<div class="container cv">
    <div class="row">
            <div class="col-12 barra-menu wrap">
                <a href="/empresa/anuncios/crear">Nuevo anuncio</a>
                <a href="/empresa/anuncios">Mis anuncios</a>
                <a href="/empresa/informacion" id="select">Editar información</a>
                <a href="/empresa/perfil/configuracion">Configuración</a>
            </div>
        <div class="col-9 datos personales wrap">
            <h3>Datos del representante</h3>
            <p id="DatosPersonales"></p>
            <div class="formulario">
                <form action="?_method=PUT" method="post" class="wrap">
                    <label for="user_name"><p>Nombre</p></label>
                    <input type="text" name="user_name" id="user_name">
                    <label for="user_lastname"><p>Apellidos</p></label>
                    <input type="text" name="user_lastname" id="user_lastname">
                    <label for="user_dni"><p>DNI</p></label>
                    <input type="number" name="user_dni" id="user_dni">
                    <label for="user_datebirth"><p>Fecha de nacimiento</p></label>
                    <input type="date" name="user_datebirth" id="user_datebirth">
                    <div class="genero">
                        <label for="user_gender"><p>Genero</p></label>
                        <label for="radioH">Hombre</label>
                        <input type="radio" name="user_gender" id="user_gender" value="H">
                        <label for="radioM">Mujer</label>
                        <input type="radio" name="user_gender" id="user_gender" value="M">
                    </div>
                    <label for="user_phone"><p>Teléfono</p></label>
                    <input type="number" name="user_phone" id="user_phone">
                    <label for="user_city"><p>Ciudad</p></label>
                    <select name="user_city" id="user_city">
                        <option value="CABA">Capital Federal</option>
                        <option value="GBA">Buenos Aires</option>
                        <option value="CO">Córdoba</option>
                        <option value="MDZ">Mendoza</option>
                        <option value="RO">Rosario</option>
                    </select>
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>
        <div class="col-9 datos profesionales wrap">
            <h3>Datos de la Empresa</h3>
            <p id="DatosProfesionales"></p>
            <div class="formulario">
                <form action="?_method=PUT" method="post" class="wrap">
                    <label for="cmp_name"><p>Nombre / Razon Social</p></label>
                    <input type="text" name="cmp_name" id="cmp_name" />
                    <label for="cmp_cuit"><p>Cuit</p></label>
                    <input type="text" name="cmp_cuit" id="cmp_cuit" />
                    <label for="cmp_tel"><p>Teléfono</p></label>
                    <input type="number" name="cmp_tel" id="cmp_tel" />
                    <label for="cmp_sector"><p>Rubro</p></label>
                    <input type="text" name="cmp_sector" id="cmp_sector" />
                    <label for="cmp_description"><p>Descripción</p></label>
                    <textarea name="cmp_description" id="cmp_description" cols="30" rows="10"></textarea>
                    <p>Max 500</p>
                    <label for="cmp_website"><p>Website</p></label>
                    <input type="text" name="cmp_website" id="cmp_website">
                    <label for="cmp_linkedin"><p>Linkedin</p></label>
                    <input type="text" name="cmp_linkedin" id="cmp_linkedin">
                    <label for="cmp_facebook"><p>Facebook</p></label>
                    <input type="text" name="cmp_facebook" id="cmp_facebook">
                    <label for="cmp_instagram"><p>Instagram</p></label>
                    <input type="text" name="cmp_instagram" id="cmp_instagram">
                    <label for="cmp_avatar"><p>Subir Avatar</p></label>
                    <input type="file" name="cmp_avatar" id="cmp_avatar">
                    <button type="submit">Guardar</button>
                </form>
            </div>
        </div>

    </div>
</div>
<!-- CÓDIGO -->
</body>
</html>