<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); -%>
    <!--Luego hay que hacer una validación de sesión iniciada para mostrar un header u otro-->
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/empresa/crearPublicacion.css" />
</head>
<!-- CÓDIGO -->
<body>
    <header>
	    <%- include('../partials/headerEmp'); -%>
    </header>
    <div class="container-fluid cuerpo">
        <div class="container detalle">
            <div class="row separador">
                <div class="col-9 volver wrap">
                    <a href="/empresa/anuncios">../Volver</a>
                </div>
            </div>
            <div class="row cuerpo">
                <div class="col-9 wrap">
					<div class="anuncio wrap">
						<form action="?_method=PUT" method="post">
							<div class="form-cont wrap">
								<div class="titulo wrap">
									<label for=""><p>Título</p></label>
									<input type="text" name="" id="">
								</div>
								<div class="descrp wrap">
									<textarea name="" id="" cols="30" rows="10" placeholder="Descripción"></textarea>
								</div>
								<div class="skills wrap">
									<label for=""><p>Skills Excluyentes</p></label>
									<label for=""><p>Skills Deseables</p></label>
									<textarea name="" id="" cols="30" rows="10"></textarea>
									<textarea name="" id="" cols="30" rows="10"></textarea>
								</div>
								<div class="info wrap">
									<label for=""><p>Fecha de contratación</p></label>
									<input type="date" name="" id="">
									<label for=""><p>Área</p></label>
									<input type="text" name="" id="">
									<label for=""><p>Ubicación</p></label>
									<input type="text" name="" id="">
									<label for=""><p>Cargo</p></label>
									<input type="text" name="" id="">
									<label for=""><p>Jornada</p></label>
									<input type="text" name="" id="">
									<label for=""><p>Salario</p></label>
									<input type="text" name="" id="">
								</div>
								<div class="beneficios">
									<label for=""><p>Beneficios (opcional)</p></label>
									<textarea name="" id="" cols="30" rows="10"></textarea>
								</div>
							</div>
							<button type="submit">Guardar</button>
							<button type="reset">Limpiar</button>
						</form>
					</div>
                </div>
            </div>
       </div>
    </div>
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
<!-- CÓDIGO -->
</body>
</html>