<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head'); -%>
    <link rel="stylesheet" href="/css/headerLog.css" />
    <link rel="stylesheet" href="/css/empresa/postulantes.css" />
</head>

<body>
    <header>
        <%- include('../partials/headerEmp'); -%>
    </header>
    <div class="container post">
        <div class="row">
            <div class="col-12 barra-menu wrap">
                <a href="/empresa/anuncios/crear">Nuevo anuncio</a>
                <a href="/empresa/anuncios" id="select">Mis anuncios</a>
                <a href="/empresa/perfil/info">Editar información</a>
                <a href="/empresa/perfil/alertas">Alertas</a>
                <a href="/empresa/perfil/configuracion">Configuración</a>
            </div>
            <div class="col-12 barra">
                <h2>Solicitudes recibidas</h2>
            </div>
            <div class="col-2 panel">
                <div class="filtro">
                    <!-- consultar si conviene utilizar listas o inputs para filtros -->
                    <h3>Ordenar por</h3>
                    <ul>
                        <li><input type="radio" name="filtrar" id="">Todos</li>
                        <li><input type="radio" name="filtrar" id="">Skills</li>
                        <li><input type="radio" name="filtrar" id="">Nuevos</li>
                        <li><input type="radio" name="filtrar" id="">Fecha</li>
                    </ul>
                </div>
            </div>
            <div class="col-10 detalle">
                <div class="item">
                    <div class="img">
                        <img src="https://dla.cdncimeco.com/uploads/2019/07/image5d320c2f994a1.png" alt="">
                    </div>
                    <div class="info">
                        <h2>Desarrollador Web - Full Stack</h2>
                        <ul>
                            <li>Digital House</li>
                            <li>Capital Federal</li>
                            <li>Full Time</li>
                        </ul>
                        <p class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt
                            necessitatibus, commodi, odit voluptate molestias magnam odio dolorem totam
                            cupiditate aspernatur, aliquid facere sed reiciendis voluptatem vel fuga eligendi
                            est sint!</p>
                    </div>
                </div>
            </div>
            <div class="col-12 postulantes">
                <a href="postulantes/cv">
                    <div class="item">
                        <div class="perfil wrap">
                            <div class="avatar">
                                <div class="item">
                                    <img src="/images/user_avatar.jpg" alt="">
                                </div>
                            </div>
                            <div class="datos wrap">
                                <strong>
                                    <p>Nombre</p>
                                </strong>
                                <p>Profesión</p>
                                <p id="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad molestiae
                                    tenetur dolor minima atque quisquam quidem velit illum minus dignissimos laboriosam
                                    maxime, placeat sapiente facere praesentium reprehenderit. Tempore, ab suscipit!</p>
                                <p><i class="fas fa-magic"></i> Skills <span>8/10</span></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="postulantes/cv">
                    <div class="item">
                        <div class="perfil wrap">
                            <div class="avatar">
                                <div class="item">
                                    <img src="/images/user_avatar.jpg" alt="">
                                </div>
                            </div>
                            <div class="datos wrap">
                                <strong>
                                    <p>Nombre</p>
                                </strong>
                                <p>Profesión</p>
                                <p id="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad molestiae
                                    tenetur dolor minima atque quisquam quidem velit illum minus dignissimos laboriosam
                                    maxime, placeat sapiente facere praesentium reprehenderit. Tempore, ab suscipit!</p>
                                <p><i class="fas fa-magic"></i> Skills <span>6/10</span></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="postulantes/cv">
                    <div class="item">
                        <div class="perfil wrap">
                            <div class="avatar">
                                <div class="item">
                                    <img src="/images/user_avatar.jpg" alt="">
                                </div>
                            </div>
                            <div class="datos wrap">
                                <strong>
                                    <p>Nombre</p>
                                </strong>
                                <p>Profesión</p>
                                <p id="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad molestiae
                                    tenetur dolor minima atque quisquam quidem velit illum minus dignissimos laboriosam
                                    maxime, placeat sapiente facere praesentium reprehenderit. Tempore, ab suscipit!</p>
                                <p><i class="fas fa-magic"></i> Skills <span>3/10</span></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="postulantes/cv">
                    <div class="item">
                        <div class="perfil wrap">
                            <div class="avatar">
                                <div class="item">
                                    <img src="/images/user_avatar.jpg" alt="">
                                </div>
                            </div>
                            <div class="datos wrap">
                                <strong>
                                    <p>Nombre</p>
                                </strong>
                                <p>Profesión</p>
                                <p id="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad molestiae
                                    tenetur dolor minima atque quisquam quidem velit illum minus dignissimos laboriosam
                                    maxime, placeat sapiente facere praesentium reprehenderit. Tempore, ab suscipit!</p>
                                <p><i class="fas fa-magic"></i> Skills <span>3/10</span></p>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="postulantes/cv">
                    <div class="item">
                        <div class="perfil wrap">
                            <div class="avatar">
                                <div class="item">
                                    <img src="/images/user_avatar.jpg" alt="">
                                </div>
                            </div>
                            <div class="datos wrap">
                                <strong>
                                    <p>Nombre</p>
                                </strong>
                                <p>Profesión</p>
                                <p id="bio">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad molestiae
                                    tenetur dolor minima atque quisquam quidem velit illum minus dignissimos laboriosam
                                    maxime, placeat sapiente facere praesentium reprehenderit. Tempore, ab suscipit!</p>
                                <p><i class="fas fa-magic"></i> Skills <span>2/10</span></p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>

</html>