/*BUSCADOR-----------------------------------*/
.container-fluid.buscador {
	background: var(--main-bg-color-2);
	height: 200px;
	align-items: center;
	box-shadow: -1px 22px 72px 0px rgba(0,0,0,0.55);
}
.container-fluid.buscador .barra{
    background-color: white;
    padding: 3px;
    border: solid 1px white;
    border-radius: 5px;
}
.container-fluid.buscador .buscador label{
	width: 100%;
    font-size: 25px;
    color: white;
    font-weight: 200;
	height: 35px;
	border-radius: 10px;
}
.container-fluid.buscador .buscador input{
	width: 70%;
	border: none;
}
.container-fluid.buscador .buscador .barra p,
.container-fluid.buscador .buscador button{
    width: 5%;
    text-align: center;
    margin: auto;
}
.container-fluid.buscador .buscador select{
	width: 20%;
    border: none;
}
/*CUERPO --------------------------------*/
.container-fluid.cuerpo {
    background: url(/images/bg/code.png);
    background-repeat: repeat;
    background-position: bottom;
    background-size: 1500px;
}
.container-fluid.cuerpo .filtros > p {
	width: 13%;
	margin: auto;
	padding: 11px;
	border-radius: 5px;
	text-align: center;
    box-shadow: -1px 10px 26px 0px rgba(0,0,0,0.75);
    background: var(--main-color-verde);
    color: var(--main-bg-color);
}
.container-fluid.cuerpo .filtros{
	height: 100px;
    align-items: center;
}
.filtrosAct{
	width: 85%;
    justify-content: left;
}
.filtrosAct .item {
	color: var(--main-bg-color);
    background: white;
    position: relative;
    margin: 4px;
    padding: 5px;
    height: 35px;
	border-radius: 8px;
}
.filtrosAct .item a{
    text-decoration: none;
    color: var(--main-bg-color);
}
.filtrosAct .item #deleteFilter {
    position: absolute;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	top: -10px;
	right: -5px;
	font-size: 10px;
	text-align: center;
	font-weight: bold;
	color: white;
	background: var(--main-color-rosa);
}
/*MENU LATERAL*/
.container-fluid.cuerpo .menu dl{
	background: var(--main-texto-blanco);
    border-radius: 5px;
    -webkit-box-shadow: -1px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 26px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 26px 0px rgba(0,0,0,0.75);
}
.container-fluid.cuerpo .menu dt{
	background: var(--main-bg-color-2);
	color: var(--main-texto-blanco);
	padding: 5px;
	font-weight: 200;
}
.container-fluid.cuerpo .menu dd{
	padding-left: 5px;
}
.container-fluid.cuerpo .menu dd a{
    text-decoration: none;
    color: var(--main-bg-color);
    font-size: 15px;
}
#cant {
    color: gray;
    font-size: 12px;
}
/*RESULTADOS - BARRA */
.container-fluid.cuerpo .resultados .barra{
	width: 100%;
    background: var(--main-texto-blanco);
    border-radius: 7px;
    -webkit-box-shadow: -1px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 26px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 26px 0px rgba(0,0,0,0.75);
}
.container-fluid.cuerpo .resultados .barra dl{
	display: flex;
    padding: 6px;
    align-items: center;
}
.container-fluid.cuerpo .resultados .barra dt{
	font-weight: 400;
    margin-right: 12px;
}
.container-fluid.cuerpo .resultados .barra dd{
    margin: 1%;
}
.container-fluid.cuerpo .resultados .barra dd a{
    text-decoration: none;
    color: var(--main-bg-color);
    font-size: 15px;
}
/*RESULTADOS - ANUNCIOS*/
#add-favorite {
	position: absolute;
	right: 10px;
	top: 10px;
    color: gray;
    z-index: 2;
    padding: 3px;
}
#add-favorite.active{
	background: rgb(255,0,195);
	background: -moz-linear-gradient(-45deg, rgb(255,0,195) 0%, rgb(255,0,4) 100%);
	background: -webkit-linear-gradient(-45deg, rgb(255,0,195) 0%,rgb(255,0,4) 100%);
	background: linear-gradient(135deg, rgb(255,0,195) 0%,rgb(255,0,4) 100%);
	background-clip: text;
	color: transparent !important;
	background-size: cover;
}
.container-fluid.cuerpo .resultados .anuncio{
    position: relative;
}
.container-fluid.cuerpo .resultados .anuncios a{
    position: relative;
    text-decoration: none;
    color: var(--main-bg-color);
}
.container-fluid.cuerpo .resultados .anuncios .item{
    width: 100%;
    height: 150px;
    display: flex;
    padding: 10px;
	flex-wrap: wrap;
	margin: 15px 0;
    border-radius: 10px;
    background: var(--main-texto-blanco);
    -webkit-box-shadow: -1px 10px 26px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 26px 0px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 26px 0px rgba(0,0,0,0.75);
}
.container-fluid.cuerpo .resultados .anuncios .item .img{
    display: flex;
    align-items: center;
	width: 15%;
    height: 100px;
    background: white;
    overflow: hidden;
    padding: 2%;
}
.container-fluid.cuerpo .resultados .anuncios .item img{
    width: 100%;
}
.container-fluid.cuerpo .resultados .anuncios .item .info{
	width: 85%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 5px;	
}
.container-fluid.cuerpo .resultados .anuncios .item .info h2{
	width: 100%;
    font-size: 19px;
    margin: 0;
}
.container-fluid.cuerpo .resultados .anuncios .item .info ul{
	list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.container-fluid.cuerpo .resultados .anuncios .item .info li{
	margin-right: 20px;
}
.container-fluid.cuerpo .resultados .anuncios .item .info .desc{
    height: 41px;
    color: gray;
    font-size: 13px;
    margin: 0;
    overflow: hidden;
}
.container-fluid.cuerpo .resultados .anuncios .item .info .sal{
	width: 50%;
    text-align: left;
}
.container-fluid.cuerpo .resultados .anuncios .item .info .skills{
	width: 50%;
    text-align: right;
}

/*PAGINACION*/
.pagination {
	width: 100%;
	justify-content: center;
}
.pagination a {
	margin: 1%;
	background: var(--main-color-verde);
	padding: 1%;
	border-radius: 5px;
	text-decoration: none;
	color: var(--main-bg-color);
}
/* EXTRA SMALL----------------------------------------------------- */
@media (max-width: 768px) {
    /*BARRA BUSQUEDA */
    .container-fluid.buscador .barra input{
        width: 100%;
    }
    .container-fluid.buscador .barra p{
        text-align: left;
        width: 20%;
    }
    .container-fluid.buscador .barra select{
        width: 60%;
    }
    .container-fluid.buscador .barra button{
        width: 20%;
    }
    /* FILTROS */
    .container-fluid.cuerpo .filtros {
        height: auto;
        align-items: center;
        margin: 10% 0%;
    }
    .container-fluid.cuerpo .filtros > p {
        width: 100%;
        height: 40px;
        margin-bottom: 8%;
        background: #a8e004;
        color: var(--main-bg-color);
    }
    .container-fluid.cuerpo .filtros .filtrosAct {
        width: 100%;
        height: auto !important;
    }
    /* FILTROS */
    .container-fluid.cuerpo .menu {
        position: inherit;
    }
    .container-fluid.cuerpo .menu dt {
        background: var(--main-texto-blanco);
        color: var(--main-bg-color);
        border-radius: 5px;
    }
    .container-fluid.cuerpo .menu dt i {
        color: var(--main-bg-color);
    }
    /* ORDER BY */
    .container-fluid.cuerpo .menu dd {
        /* Crear efecto dropdown */
        display: none;
    }
    /* RESULTADOS */
    .container-fluid.cuerpo .anuncios a .item .img{
        width: 30%!important;
    }
    .container-fluid.cuerpo .anuncios a .item .info{
        width: 70%!important;
    }
    .container-fluid.cuerpo .anuncios a .item h2{
        font-size: 15px!important;
    }
    .container-fluid.cuerpo .resultados .anuncios .item .info li {
        margin-right: 5px;
        font-size: 15px!important;
    }
    .container-fluid.cuerpo .resultados .anuncios .item .info .desc {
        display: none;
    }
}

/* SMALL-----------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 991px) {
    
}

/* MEDIUM---------------------------------------------------------------------------------------*/
@media (min-width: 992px) and (max-width: 1200px) {}

/* LARGE----------------------------------------------------------------------------------------*/
@media (min-width: 1201px) {}